USE [master]
GO
/****** Object:  Database [SistemaMedidores]    Script Date: 7/28/2021 1:23:25 PM ******/
CREATE DATABASE [SistemaMedidores]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaMedidores', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\SistemaMedidores.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaMedidores_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\SistemaMedidores_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaMedidores].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaMedidores]
GO
USE [SistemaMedidores]
GO
/****** Object:  Table [dbo].[Lectura]    Script Date: 7/28/2021 1:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lectura](
	[IdLectura] [int] IDENTITY(1,1) NOT NULL,
	[ValorConsumo] [float] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdMedidor] [int] NOT NULL,
 CONSTRAINT [PK_Lectura] PRIMARY KEY CLUSTERED 
(
	[IdLectura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medidor]    Script Date: 7/28/2021 1:23:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medidor](
	[IdMedidor] [int] IDENTITY(1,1) NOT NULL,
	[NroMedidor] [int] NOT NULL,
 CONSTRAINT [PK_Medidor] PRIMARY KEY CLUSTERED 
(
	[IdMedidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 7/28/2021 1:23:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Rut] [varchar](15) NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[CorreoElectronico] [varchar](60) NOT NULL,
	[Contrasena] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lectura]  WITH CHECK ADD  CONSTRAINT [FK_Lectura_Medidor] FOREIGN KEY([IdMedidor])
REFERENCES [dbo].[Medidor] ([IdMedidor])
GO
ALTER TABLE [dbo].[Lectura] CHECK CONSTRAINT [FK_Lectura_Medidor]
GO
USE [master]
GO
